scenedetect[opencv]
matplotlib==3.2.2
matplotlib-venn==0.11.7
Pillow==7.1.2
validators
tqdm
pydantic[email]
better_exceptions
uritools
pytz
torch==1.12.1
torchaudio==0.12.1
torchsummary==1.5.1
torchtext==0.13.1
torchvision==0.13.1
imutils
lxml
better_exceptions
bpython
rich[jupyter]
scikit-image==0.18.3
scikit-learn==1.0.2
scipy==1.7.3
requests
icecream
tenacity
black
pylint
autopep8
autoflake
pdbpp
